<manifest
    package="com.kyletung.androiddailyrecord"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Normal Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Dangerous Permissions That Should Request -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/library_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Main-->
        <activity android:name=".main.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Module-->
        <activity android:name=".module.views.ViewsActivity"/>
        <activity android:name=".module.rectlayout.RectLayoutActivity"/>
        <activity android:name=".module.recyclerview.RecyclerActivity"/>
        <activity android:name=".module.ucrop.UCropConfigActivity"/>
        <activity android:name=".module.ucrop.UCropResultActivity"/>
        <activity android:name=".module.nineimageview.NineImageActivity"/>
        <activity android:name=".module.multiphotopicker.PhotoPickerActivity"/>

        <!-- UCrop -->
        <activity android:name="com.kyletung.ucrop.UCropActivity"/>

    </application>

</manifest>
